@model List<ResultCommentDto>

<div class="tab-pane fade" id="tab-pane-3">
    <div class="row">
        <div class="col-md-6">
            <h4 class="mb-4">@Model.Count yorum bulunmaktadir.</h4>

            @foreach (var item in Model)
            {
                <div class="media mb-4">
                    <img src="@item.ImageUrl" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                    <div class="media-body">
                        <h6>@item.NameSurname <small>- <i>@item.CreateDate.ToShortDateString()</i></small></h6>

                        <!-- Yıldızları eklemek için boş div -->
                        <div class="rating" data-rating="@item.Rating"></div>

                        <p>@item.CommentDetail</p>
                    </div>
                </div>
            }
        </div>
          @await Html.PartialAsync("~/Views/ProductList/AddComment.cshtml",new {id = ViewBag.x}) 


     

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll(".rating").forEach(function(element) {
                let rating = parseInt(element.getAttribute("data-rating"));
                let stars = "";
                for (let i = 0; i < rating; i++) {
                    stars += '<i class="fas fa-star text-primary"></i>';
                }
                element.innerHTML = stars;
            });
        });
    </script>

</div>
