@model List<Ecommerce.DtoLayer.CatalogDtos.AboutDtos.ResultAboutDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0; 
}

<h1>Index</h1>

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Basic Tables</h4>
                <p>For basic styling&mdash;light padding and only horizontal dividers&mdash;add the base class <code>.table</code> to any <code>&lt;table&gt;</code>. It may seem super redundant, but given the widespread use of tables for other plugins like calendars and date pickers, we've opted to isolate our custom table styles.</p>
                <div class="bs-example" data-example-id="simple-table">
                    <table class="table">
                        <caption>
                            Optional table caption.
                        </caption>
                        <thead>

                            <tr>
                                <th>Açıklama</th>
                                <th>Adres</th>
                                <th>Email</th>
                                <th>Sil</th>
                                <th>Guncelle</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                               
                                <tr>
                               
                                    <td>@item.Description</td>
                                    <td>@item.Address</td>
                                    <td>@item.Email</td>
                                    <td>@item.Phone</td>

                                    <td><a href="#" class="btn btn-warning">Kategoriye Ait Urunler</a></td>
                                    <td><button onclick="deleteAbout('@item.AboutId')" class="btn btn-danger">Sil</button></td>
                                    <td><a href="/Admin/About/UpdateAbout/@item.AboutId" class="btn btn-success">Guncelle</a></td>
                                </tr>
                            }


                        </tbody>
                    </table>
                    <a href="/Admin/About/CreateAbout" class="btn btn-primary"> Yeni Hakkimizda Girisi </a>
                </div>
            </div>
        </div>

    </div>
</section>
<script>
    function deleteAbout(id) {
        fetch(`/Admin/About/DeleteAbout/${id}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/Admin/About/Index'; // Başarılıysa yönlendir
                } else {
                    alert('Silme işlemi başarısız!');
                }
            });

    }
</script>

